@import '{reywood:bootstrap3-sass}/bootstrap';
@import 'seats';

html, body {
  min-height: 100%;
}

body {
  font-size: 100%;
  background-image: linear-gradient(#111, #333);    
}

.reservations, .changelog {
  margin-top: 20px;

  header {
    text-align: center;
    color: white;
  }
}

.reservations {
  border-right: 1px solid darken(white, 50%);
}

.reservation-form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  #name {
    text-align: center;
  }
}

.changelog {

  header {
    color: darken(white, 30%);
  }

  .changes {
    margin: 5px;
  }

  .seat {
    color: white;
  }

  .seat-vacant {
    @include seat-styles(darkgreen);
  }

  .seat-reserved {
    @include seat-styles(darkred);
  }
}
