@import '{reywood:bootstrap3-sass}/bootstrap';
@import 'seats';

html, body {
  min-height: 100%;
}

body {
  font-size: 100%;
  background-image: linear-gradient(#111, #333);    
}

header {
  text-align: center;
  color: white;
}

.changes pre {
  text-align: center;
}
